.count-comp {
  line-height: 1;
  position: relative;
  & span {
    font-size: 200px;
    font-weight: 100;
  }
  & .count-title {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 500;
    color: $secondary;
    letter-spacing: -0.69px;
    margin: 0;
    line-height: 1;
    margin-bottom: 8px;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    left: calc((#{$maxWidth} - 100vw) / 2);
    top: 50%;
    border-bottom: 1px solid $gray7;
  }
}
