$chartColor: #393577;

.referrer-title {
  text-align: center;
  color: #666666;
  font-weight: bold;
  font-size: 20px;
}

table.chart {
  border-collapse: collapse;
  font-size: 14px;
  color: #ffffff;
  overflow: scroll;
  width: 100%;
  display: block;
  & th,
  & td {
    height: 40px;
    text-align: left;
    padding-left: 20px;
    &.th-1 {
      width: 100%;
    }
    &:last-child {
      text-align: right;
      padding-left: 0;
      padding-right: 20px;
    }
  }
  & th {
    background: rgba($chartColor, 0.7);
    &:first-child {
      border-top-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
    }
  }
  & tbody tr {
    & td {
      background: rgba($chartColor, 0.2);
    }
    &:nth-child(2n) td {
      background: rgba($chartColor, 0.3);
    }
  }
}

@media screen and (max-width: 640px) {
  .referrer-title {
    font-size: 1.6rem;
  }

  table.chart {
    font-size: 1rem;
    & th,
    & td {
      height: 2rem;
      padding-left: 1rem;
      &:last-child {
        text-align: right;
        padding-left: 0;
        padding-right: 1rem;
      }
    }
    & th {
      &:first-child {
        border-top-left-radius: 0.8rem;
      }
      &:last-child {
        border-top-right-radius: 0.8rem;
      }
    }
  }
}
