.logo {
  position: absolute;
  right: 85px;
  top: 89px;
  width: 85px;
  height: 66px;
<<<<<<< Updated upstream
  background: $white;
=======
  & #logo-vector polygon {
    fill: $logoColor;
    &.o-3 {
      opacity: 0.3;
    }
  }
>>>>>>> Stashed changes
}
