.statistics-wrapper {
  margin: 0 auto;
  overflow: scroll;
  & .header {
    & p {
      font-size: 38px;
      text-align: left;
      letter-spacing: -0.6px;
      font-weight: bold;
      margin: 89px 0 10px 0;
    }
    & .sub-title {
      font-size: 28px;
      margin-top: 0;
      font-weight: 0;
      color: #a6a6a6;
      overflow-wrap: break-word;
      width: 60%;
    }
  }
  .chart-wrapper {
    margin: 0 auto;
    & p {
      text-align: left;
      color: #b93f3f;
      letter-spacing: -0.4px;
      height: 36px;
      font-size: 24px;
      padding-left: 70px;
    }
  }
  .sub-chart-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 10vw;
  }
}

@media screen and (max-width: 1200px) {
  .statistics-wrapper {
    & .header {
      & .main-title {
        margin-top: 2rem;
        font-size: 30px;
      }
      & .sub-title {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .statistics-wrapper {
    & .header {
      & .main-title {
        font-size: 20px;
      }
      & .sub-title {
        font-size: 10px;
      }
    }
    .sub-chart-wrapper {
      &.doughnut-chart {
        display: block;
      }
      &.list-wrapper {
        display: block;
      }
    }
  }
}
