<<<<<<< Updated upstream
=======
// Logo Color, 흐린 부분은 opacity 0.3으로 통일
$logoColor: #ffffff;

>>>>>>> Stashed changes
$white: #ffffff;
$black: #000000;

$bg: #202020;

$primary: #ff8888;
$secondary: #b63b3b;

$gray9: #f7f6f6;
<<<<<<< Updated upstream
// $gray7: #d8d8d8;
=======
$gray7: #d8d8d8;
>>>>>>> Stashed changes
$gray5: #a6a6a6;
$gray3: #979797;
