@import "./var.scss";
@import "./layout.scss";
@import "./component/RightLogo.scss";
@import "./component/InputBar.scss";
@import "./component/HistoryComp.scss";
<<<<<<< Updated upstream

@import "./component/Main.scss";
=======
@import "./component/CountComp.scss";
@import "./component/MainBackground.scss";

@import "./component/Main.scss";
body {
  background: $bg;
}
>>>>>>> Stashed changes

#app {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
<<<<<<< Updated upstream
  background: $bg;
=======
>>>>>>> Stashed changes
  color: $white;
}

.view {
  height: 100%;
  width: 100%;
  display: table;
}
